body {
}

.header {
    height: 100px;
    background: #ff6a00;
}

.left_menu {
    height: 100px;
    background: #ff6a00;
}

.content {
    height: 200px;
    background: #4800ff;
}

.footer {
    height: 100px;
    background: #808080;
}