
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Selfmessage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/PagesIndexStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>

        <div class="container">
            <div class="col-sm-12 header">
                Header
            </div>
            <div class="col-sm-2 left_menu">
                Left menu
            </div>
            <div class="col-sm-10 content" id="content">
                
            </div>
            <div class="col-sm-12 footer">
                footer выаф
            </div>
        </div>
    </div>

    <script>
        $(function () {

            $.ajax({
                url: "http://localhost:10001/api/notes",
                type: "GET",
                success: function (data) {
                    for (var i in data) {
                        var row = data[i];

                        $('#content').append(
                            '<div class="note">' +
                                '<h3>' + row.Id + ':  ' + row.Name + '</h3>' +
                                '<p>' + row.Text + '</p>');
                        $('#content').append('<p>' +
                                '<div class="tags">' +
                                    '<p>Tags:  ')
                        for (var j in row.Tags)
                        {
                            var tag = row.Tags[j];

                            $('#content').append(
                                    tag.Name + ', ');
                        }
                        $('#content').append(
                                    '</p>' +
                                '</div>' +
                            '</div>')

                    }
                },
                fail: function (data) {
                    alert("fail")
                }
            });

        })
    </script>
</body>
</html>
