<div class="col-sm-6 col-sm-offset-3">

    <!--Форма логирования-->
    <hr/>
    <form class="form-group" name="login_form">
        <h2 class="text-center">Login</h2>

        <label for="emailLogin">Email: </label>
        <input type="email" ng-model="Email" id="emailLogin" required class="form-control" name="email">
        <p ></p>

        <label for="passwordLogin">Password: </label>
        <input type="password" ng-model="Password" id="passwordLogin" required class="form-control" name="password"/>

        <br/>
        <input type="submit" ng-click="submitLogin()" class="form-control"/>
        
        <br/>

        <div ng-show="showMessage" class="alert alert-warning">
            <p>{{message}}</p>
        </div>
    </form>
    <hr/>
</div>