<div class="media">
    <div class="media-body">
        <div class="col-xs-11">
            <h3 class="media-heading">{{note.Name}}</h3>
        </div>
        <div class="col-xs-1">
            <p class="text-right">
                <a ng-click="deleteNote(note.Id)" href=""><span class="glyphicon glyphicon-remove"></span></a>
            </p>
        </div>
        <div class="col-xs-12">
            <p>{{note.Text}}</p>
        </div>
    </div>

    <hr />

    <div class="clearfix"></div>

    <form class="form-group">
        <label>Выберите изображение для добавления:</label>
        <input type="file" class="form-control" file-model="myFile"/>
        <input type="submit" class="form-control" value="Add image" ng-click="addImageSubmit()"/>
    </form>

    <div class="media-body" class="col-xs-12">
        <img ng-repeat="imageUrl in imageUrls" src="{{imageUrl}}" ng-click="setCurrentUrl(imageUrl)"  data-toggle="modal" data-target="#myModal" height="200px" alt="" />
    </div>

    <hr />

    <div class="media-bottom">
        <div class="col-xs-6">
            <p class="text-left">
                Tags:
                <i ng-repeat="tag in note.Tags">{{tag.Name}} </i>
            </p>
        </div>
        <div class="col-xs-6">
            <p class="text-right">
                Post date: {{note.DateAdded}}
            </p>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal image</h4>
                </div>
                <div class="modal-body">
                    <img src="{{currentImageUrl}}" width="570" alt=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteImage(currentImageUrl)">Delete image</button>
                </div>
            </div>

        </div>
    </div>
    asdfasdf
</div>
