<div>
    <div class="col-sm-12">
        
        <div class="col-sm-6 col-sm-offset-3">
            <form name="registrtion_form">
                <div class="text-center">
                    <h3>Registrtion</h3>
                </div>
                <div class="form-group">
                    <label for="emailRegistration">Email:</label>
                    <input type="email" class="form-control" required ng-model="user.Email"
                           name="email" id="emailRegistration"/>
                </div>
                <div class="form-group">
                    <label for="paswordRegistrtion">Password: </label>
                    <input type="password" class="form-control" required minlength="6" ng-model="user.Password"
                           name="password" id="paswordRegistrtion"/>
                </div>
                <div class="form-group">
                    <label for="confirmPasswordRegistrtion">Confirm password:</label>
                    <input type="password" class="form-control" required minlength="6" ng-model="user.ConfirmPassword"
                           name="confirmPassword" id="confirmPasswordRegistrtion"/>
                </div>
                <div class="col-sm-3 col-sm-offset-9">
                    <input type="submit" class="btn btn-default" ng-click="submitRegistrarion()" value="Send"/>
                </div>
                <br/>
                <div class="col-sm-12 alert-danger alert" ng-show="registrtionError">Имя уже используется</div>
                <br/>
                <div class="col-sm-12 alert-danger alert" ng-show="passwordNotMatch">Пароли не совпадают</div>
            </form>
        </div>
    </div>
</div>