<div>

    <h1>Registration Page</h1>


    <div>
        <h3>Registration</h3>

        <form name="frm">
            <div class="col-sm-5">
                <div class="form-group" ng-controller="RegistrationController">
                    <div>
                        <h3>Registration</h3>
                        <label for="">Email: </label>
                        <input type="email" name="email" class="form-control" ng-model="user.email" required />
                        <span ng-show="frm.email.$dirty&& frm.email.$error.required"> Необходимо заполнить !</span>
                        <span ng-show="frm.email.$dirty&& frm.email.$error.email"> Неверный email !</span>
                    </div>
                    <div>
                        <label for="">Password: </label>
                        <input type="password" name="password" class="form-control" ng-model="user.password" required ng-minlength="6" ng-maxlength="18" />
                        <span ng-show="frm.password.$dirty&& frm.password.$error.required">Необходимо заполнить !</span>
                        <span ng-show="frm.password.$dirty&& frm.password.$error.minlength">Длина пароля должна составлять минимум 6 символов !</span>
                        <span ng-show="frm.password.$dirty&& frm.password.$error.maxlength">Длина пароля не должна превышать 18 символов !</span>
                    </div>
                    <div>
                        <label for="confirmPasswordLogup">Confirm password: </label>
                        <input type="password" name="confirmPassword" class="form-control" ng-model="registration.user.confirmPassword" required />
                        <span ng-show="frm.password.$dirty&& frm.password.$error.confirmPassword">Длина пароля не должна превышать 18 символов !</span>

                    </div>
                    <br />
                    <input type="submit" class="form-control" ng-click="submitRegistrarion() " onclick="return confirm()" />

                </div>
            </div>
        </form>
    </div>
</div>